@model FicBook.Models.Post
<div class="row article-summary">
    <div class="col-md-4">
        <profile-picture profile="@Model.Author" size-px="40" />
        <p class="text-center author-name">
           @*@(Model.Author.FullName ?? Model.Author.UserName)*@
            @Html.DisplayFor(model => model.Author.UserName)
        <p class="text-center">
            @Model.CreatedDate.ToString("dd MMM yyyy")
        </p>
    </div>
    <div class="col-md-8">
        <h4>
            <a asp-action="Details" asp-route-id="@Model.ID">@Model.Title</a>
        </h4>
        <blockquote>
            <p>@Model.Abstract</p>
        </blockquote>
    </div>
</div>
