@using Microsoft.AspNetCore.Identity
@model FicBook.Models.EditRolesViewModel

<h2>Editing @Model.UserEmail profile</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <table class="table">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            @if (Model.UserRoles.Contains("Admin"))
            { 
                <tr> 
               <td>
                   <input type="checkbox" name="roles" value="@role.Name"
                  / @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name
               </td>
               <td> <button type="submit" class="btn btn-primary">Set as author</button></td>
           </tr>
            }
            else
            {
                <tr>
                    <td>
                        <input type="checkbox" name="roles" value="@role.Name"
                  / @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name
            </td>
            <td> <button type="submit" class="btn btn-primary">Set as Admin</button></td>
        </tr>
            }
        }
    </table>
        <button type="submit" class="btn btn-primary">Save</button>
</form>