@model IEnumerable<FicBook.Models.ApplicationUser>
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Users";
    ViewData.AddActivePage(ManageNavPages.GetUserList);
}
<h2>Users</h2>

<table class="table">
    @foreach (var user in Model)
    {
        if (UserManager.GetUserName(User) != user.UserName)
        {
        <tr>
            <td>@user.UserName</td>
            <td>
             
              @if(await UserManager.IsInRoleAsync(user,"Author"))
                {
                <a class="btn btn-sm btn-success" asp-action="SetAdmin" asp-route-id="@user.Id">Set as Admin</a>
                }
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                @if (await UserManager.IsLockedOutAsync(user))
                {
                    <a class="btn btn-success" asp-action="ChangeLockout" asp-route-id="@user.Id">Unlock user</a>
                }
                else
                {
                    <a class="btn btn-danger" asp-action="ChangeLockout" asp-route-id="@user.Id">Block user</a>
                }
            </td>
        </tr>
        }
    }
</table>
