@model IndexViewModel
@inject UserManager<ApplicationUser> UserManager
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Profile"];
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@Localizer["Profile"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="form-group">
    <label class="control-label">@Localizer["NewPhoto"]</label>
    <div id="dropzone">
        <form action="/Image/UploadImageAsync" class="dropzone needsclick dz-clickable" id="uploader">
            <div class="dz-message needsclick">
              @Localizer["DragNDrop"]<br>
            </div>
        </form>
    </div>
</div>
<div class="row">
        <form method="post" asp-route-Email="@Model.Email">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label class="col-md-6 control-label">@Localizer["Username"]</label>
                <input asp-for="Username" class="form-control" />
            </div>
            
            <div class="form-group">
                    <label class="col-md-12 control-label">@Localizer["Email"]</label>
                <div class="input-group">
                    <input asp-for="Email" class="form-control" disabled />
                    <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                </div>
            </div>
            <input id="button" type="submit" value=@Localizer["Update"] class="btn btn-default" />
        </form>
   </div>


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
<script>
        Dropzone.autoDiscover = false;
        var myDropzone = new Dropzone('#uploader', {
            url: '/Manage/UploadImageAsync',
            maxFilesize: 5,
            maxFiles: 1,
            uploadMultiple: false,
            parallelUploads: 1,
            acceptedFiles: "image/*",
            autoProcessQueue: true,
            init: function () {
                var startUpload = document.getElementById("button");
                myDropzone = this;
                startUpload.addEventListener("click", function () {
                    myDropzone.processQueue();
                });
                this.on("success", function () {
                    myDropzone.options.autoProcessQueue = true;
                });
            }
        });
</script>
}
